@model IEnumerable<ModelLibrary.Models.Meteorologia>

@{
    ViewBag.Title = "Index";
}


<h2>Meteorologia</h2>

<script type="text/javascript">
    $(function () {
        $('#DataDeLeitura').datepicker();
    });
</script>

@using (Html.BeginForm("Index", "Meteorologias", FormMethod.Get))
{
    <hr />
    <p>
        <div class="form-group input-group-sm">
            @Html.DropDownList("NomeLocal", ViewBag.NomeLocal as SelectList, "Ponto de Interesse", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group input-group-sm">
            @Html.DropDownList("DataDeLeitura", ViewBag.DataDeLeitura as SelectList, "Data de Leitura", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group input-group-sm">
            @Html.DropDownList("HoraDeLeitura", ViewBag.HoraDeLeitura as SelectList, "Hora de Leitura", htmlAttributes: new { @class = "form-control" })
        </div>

        <input type="submit" value="Procurar" />
        <form action="Index">
            <input type="button" value="Limpar" onclick="window.location.href='Meteorologias/Index'" />
        </form>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataDeLeitura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraDeLeitura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Local.NomeLocal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temperatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Humidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pressao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NO2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CO2)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataDeLeitura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraDeLeitura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local.NomeLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Humidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pressao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NO2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CO2)
            </td>
        </tr>
    }

</table>